@import url("https://fonts.googleapis.com/css2?family=Chela+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chela One", system-ui;
  font-weight: 400;
  font-style: normal;
}
body {
  position: relative;
}
#nav {
  height: 112px;
  padding: 0 16px;
  color: #ffe1ff;
  background-color: #433878;
  display: flex;
  align-items: center;
  font-size: 24px;
}
#content {
  padding: 48px 64px;
}

#hero {
  height: 60vh;
  border-radius: 8px;
  background-color: #433878;
  color: #ffe1ff;
  text-align: center;
  font-size: 36px;
  display: flex;
  align-items: center;
  padding: 8px;
}
.sub_secTitle {
  margin: 24px 0;
  font-size: 24px;
  font-weight: 500;
  border: 5px solid #433878;
  color: #433878;
  border-radius: 12px;
  background-color: #ffe1ff;
  padding: 16px;
}
#participant_select {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-auto-rows: 64px;
  margin: 24px 0;
  gap: 4px;
}
#participant_select div {
  background-color: #433878;
  border-radius: 12px;
  color: #ffe1ff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#participant_select div:hover {
  background-color: white;
  color: #433878;
  transform: translateY(-16px);
  border: 2px solid #433878;
}
#participant_select div.clicked,
#activities_Select div.clicked {
  transform: translateY(-8px);
  background-color: white;
  color: #433878;
  border: 2px solid #433878;
}
#activities_Select {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-rows: 196px;
  gap: 16px;
}

#activities_Select div {
  background-color: #433878;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#activities_Select div:hover {
  background-color: white;
  color: #433878;
  border: 2px solid #433878;
}

#scrim.show {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #433878;
  opacity: 0.6;
  width: 100vw;
}
#dialogBox {
  display: none;
}
#dialogBox.show {
  display: block;
  position: absolute;
  transform: translate(50%, 0%);
  top: 70%;
  width: 640px;
  height: 345px;
  background-color: white;
  border-radius: 12px;
}
#dialogBox .actions {
  display: flex;
  justify-content: flex-end;
  padding: 12px;
}
#dialogBox .actions button {
  height: 40px;
  padding: 0 24px;
  color: #ffe1ff;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #433878;
}
#dialogBox .actions button:hover {
  background-color: #ffe1ff;
  color: #433878;
}
#dialogBox #displayActivity {
  width: 100%;
  margin-top: 12px;
  padding: 16px;
}
#displayActivity .activityCard {
  width: 100%;
  min-height: 64px;
  height: auto;
  font-size: 24px;
  background-color: #433878;
  color: white;
  border-radius: 12px;
  padding: 4px;
}

/*media querry*/
@media screen and (max-width: 480px) {
  #content {
    padding: 48px 12px;
  }
  #dialogBox.show {
    width: 345px;
    height: 197px;
  }
}
@media screen and(min-width:481px) and(max-width:768px) {
  #content {
    padding: 48px 32px;
  }
}
